bin
obj
csx
.vs
.vscode
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/App_Data
jambot/data/ApiKeys/
/docs/.exclude
appsettings.json
local.settings.json
host.json
.funcignore
errlog.txt
*.stats


# Local python packages
.python_packages/

# Python Environments
Pipfile.lock

# Byte-compiled / optimized / DLL files
Project/__pycache__/
__pycache__/
*.py[cod]
*$py.class
Jambot.zip