bin
obj
csx
.vs
.vscode
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/ApiKeys
/App_Data
/secrets
/data
/docs/.exclude
.secrets
appsettings.json
local.settings.json
host.json
.gitignore
.funcignore
errlog.txt

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile.lock

# Byte-compiled / optimized / DLL files
Project/__pycache__/
__pycache__/
*.py[cod]
*$py.class
Jambot.zip