[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
seaborn = "*"
plotly = "*"
joblib = "*"
pylint = "*"
ipykernel = "*"
azure-functions = "*"

[packages]
bitmex = "*"
discord = "*"
pypika = "*"
pygsheets = "*"
pyodbc = "==4.0.28"
pandas = "*"
sqlalchemy = "*"
pyyaml = "*"
numpy = "*"

[requires]
python_version = "3.8"
