[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
seaborn = "*"
plotly = "*"
joblib = "*"
pylint = "*"
ipykernel = "*"
azure-functions = "*"

[packages]
bitmex = "*"
discord = "*"
pypika = "*"
pygsheets = "*"
pyodbc = "==4.0.28"
pandas = "*"
sqlalchemy = "*"
pyyaml = "*"
numpy = "*"
aenum = "*"
sklearn = "*"
xgboost = "*"
lightgbm = "*"
ta = "*"
shap = "*" # LLVM_CONFIG=/usr/local/Cellar/llvm@9/9.0.1_2/bin/llvm-config pipenv install shap --skip-lock

[requires]
python_version = "3.9"
